<div class="each-class">
  <div [class.expanded]='isExpanded' class="accordion-heading" (click)='onClick()'>
    Class: {{ eachClass.name }}
  </div>
  <div class="accordion-body">
    <div *ngFor="let student of studentsData">
      <app-student [student]="student" *ngIf="isExpanded"></app-student>
    </div>
  </div>

  <button 
    *ngIf="studentsData && studentsData.length < 30 && isExpanded" 
    class="add-student-btn"
    (click)="openModal()"
    >
    Add new student <fa-icon [icon]="faPlusCircle"></fa-icon>
  </button>
</div>