.myHeader {
    background-color: #1976d2;
    width: 100%;
    margin-bottom: 40px;

    .headerTitle {
      text-transform: capitalize;
      color: white;
      margin: 0;
      padding: 16px 0;
      display: flex;
      justify-content: center;
      font-style: italic;
      font-size: 24px;
    }
  }
  